modules = ["nodejs-18", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yes | pnpm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37653
externalPort = 3002

[[ports]]
localPort = 39921
externalPort = 3001

[[ports]]
localPort = 41269
externalPort = 3003

[[ports]]
localPort = 42075
externalPort = 3000

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "gce"
build = ["sh", "-c", "npm run build"]
